//color palette
$grey-darker: #777777;
$grey-dark: #97a9ba;
$grey-light: #e4e8ed;
$grey-hover: #f2f6fb;

$black-thunder: #292629;
$button-blue: #1a5eca;
$hover-button: #1654b4;
$active-button: #2861b6;
$blue-light: #01d7f5;
$white: #ffffff;

// pills colors
$pill-red: #fd0303;
$pill-green: #1db874;
$pill-yellow: #f09b23;