@use './colors' as*;

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-space-between-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container-90 {
    max-width: 90%;
    margin: auto;
}

@mixin container-60 {
    max-width: 60%;
    margin: auto;
}

@mixin pos-rel {
    position: relative;
}

@mixin pill {
    border-radius: 2px;
    color: $white;
    padding: 1px 3px;
}