@use './partials/colors' as*;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    word-spacing: 3px;
    color: $black-thunder;
}